@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/card.scss";

.background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0
}

.login{
  width: 599rpx;
  height: 516rpx;
  margin-top: 516rpx;
  margin-left: 85rpx;
  background: white;
  z-index: 100;
}

.button1{
  width: 228rpx;
  margin-top: 10rpx;
}

.textAll{
  margin-top: 50rpx
}
.text1{
  margin-left: 329rpx;
}

.text2{
  margin-left: 50rpx;
}
